# API Keys & Secrets
.env

# Python Virtual Environment
venv/
ENV/
.venv/

# Python Cache & Compiled files
__pycache__/
*.py[cod]
*$py.class

# Data & Cache (אופציונלי)
# for real projects with enormous of data - skip pushing to git 
# data/geo_cache.json
# data/enriched_photos.json

# macOS Specific
.DS_Store